
body {
      font: sans-serif #5b2;
      background-color: #eef;
      background-image: url("tausta.png");
}

.box { 
      background-color: #7c5;
      max-width: 600pt; 
      padding: 20pt;
      border: solid #5b2 2px;
      margin: 30pt auto;            

}

.box H1 { margin: 0 auto; }

#kirj { float: right; } 
