
body {
      background-color: lightblue;
      background-image: url("tausta.png")
}

.box { 
      color: #6BB224
      max-width: 700pt; 
      padding: 30pt;
      border: solid 1px; 
            
}

